.create {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 25px;
  border-radius: 7px;
  padding: 10px 0;
  border: 1px solid rgba(255, 255, 255, 0.6);
  box-shadow: 0 0 3.5px white;
  transition: width .4s ease-in-out;
}
.create__user {
  border: none;
  outline: none;
  background-color: transparent;
  color: white;
  font-size: 120px;
  font-weight: 500;
  padding: 0px 30px;
  border-radius: 50%;
  margin: 20px 0;
  background-color: orange;
  transition: background-color .4s ease, box-shadow .4s ease-in-out;
}
.create__user:hover {
  cursor: pointer;
  background-color: rgba(255, 166, 0, 0.8);
  box-shadow: 0 0 6px darkorange;
}
.create__user:active {
  box-shadow: 0 0 7px darkorange;
  background-color: rgba(255, 166, 0, 0.65);
}
.user__delete_all {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: auto;
  padding: 15px 0;
  border-top: 1px solid rgba(255, 255, 255, 0.6);
}
.user__delete_all button {
  outline: none;
  border: none;
  cursor: pointer;
  border-radius: 3px;
  padding: 5px 10px;
  background-color: red;
  color: white;
  transition: background-color .4s ease-in-out, box-shadow .4s ease-in-out;
}
.user__delete_all button:hover {
  background-color: rgba(255, 0, 0, 0.75);
  box-shadow: 0 0 4px red;
}
.user__delete_all button:active {
  background-color: rgba(255, 0, 0, 0.6);
}

@media only screen and (max-width: 850px) {
  .create {
    width: 48%;
  }
}

@media only screen and (max-width: 552px) {
  .create {
    width: 95%;
  }
}
