body, html {
  font-size: 16px;
  background-color: #1E1E1E;
  color: white;
}
ul, ol li {
  list-style: none;
}
*, *::after, *::before {
  box-sizing: border-box;
}
html, body, p, h1, h2, h3, h4, h5, h6, span, div, nav, ul, li, form, a, header, footer {
  margin: 0;
  padding: 0;
  border: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
.wrapper {
  width: 1180px;
  margin: 0 auto;
}
.users {
  padding-top: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
